<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Hero</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('../components/navbar.ejs')%>
    <div class="container">
        <center><h1 class="mb-3 mt-5">Daftar Hero</h1></center>
            <% if(messages.success) { %>
                <div class="alert alert-success alert-dismissible"" role="alert">
                    <%= messages.success %>
                </div>
                <% } %>
            <% if(messages.successDel) { %>
                <div class="alert alert-danger alert-dismissible"" role="alert">
                    <%= messages.successDel %>
                </div>
                <% } %>
            <% if(messages.error) { %>
                <div class="alert alert-danger" role="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <%= messages.error %>
                </div>
            <% } %>
    <a href="/formAddHero"><button class="btn btn-success">Tambah Hero</button></a>
    <table class="table align-middle mt-5 mb-5 table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama</th>
      <th scope="col">Role</th>
      <th scope="col">durability</th>
      <th scope="col">offense</th>
      <th scope="col">efekSkill</th>
      <th scope="col">Kesulitan</th>
      <th colspan="2">option</th>
    </tr>
  </thead>
  <tbody>
    <% let i=1; hero.forEach((hero) => { %>
      <tr>
        <th scope="row"><%=i++ %></th>
        <td><%= hero.nameHero %></td>
        <td><%= hero.nameRole %></td>
        <td><%= hero.durability %></td>
        <td><%= hero.offense %></td>
        <td><%= hero.efekSkill %></td>
        <td><%= hero.difficulty %> %</td>
        <td>
          <a href="/formUpdateHero/<%= hero.idHero %>">
            <button type="button" class="btn btn-success btn-sm px-3">
              <b>~</b>
            </button>
          </a>
        </td>
        <td>
          <a href="/delHero/<%= hero.idHero %>">
            <button type="button" class="btn btn-danger btn-sm px-3" onclick="return confirm('Yakin Ga?')">
              <b>X</b>
            </button>
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
<center><%- include('../components/footer.ejs') %></center>
</body>
</html>